@using EnixBoard.Web.Controllers;
@model EnixBoard.Web.Models.JoinModel
@{
    ViewBag.Title = "Home";
}
@*<div class="row form-horizontal">
        <div class="col-sm-8 col-sm-offset-2">
            New game ? @Html.ActionLink("Go!", "NewGame", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />*@
<div class="row form-horizontal">
    @using (Html.BeginForm("JoinGame", "Home", FormMethod.Get))
    {
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row form-group">
                @Html.LabelFor(m => m.GameType, "Select your game type", new { @class = "col-sm-3 col-xs-12 text-center control-label" })
                <div class="col-sm-5 col-xs-8">
                    @Html.DropDownListFor(m => m.GameType, HomeController.GameList, new { @class = "form-control" })
                </div>
                <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="glyphicon glyphicon-star"></i> Go
                    </button>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{

}