@using EnixBoard.Web.Controllers;
@model EnixBoard.Web.Models.JoinModel
@{
    ViewBag.Title = "Home";
}
@*<div class="row form-horizontal">
        <div class="col-sm-8 col-sm-offset-2">
            New game ? @Html.ActionLink("Go!", "NewGame", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />*@
<div class="row form-horizontal">
    @using (Html.BeginForm("JoinGame", "Home", FormMethod.Get))
    {
        <div class="col-sm-8 col-sm-offset-2">
            Select your game type
            @Html.DropDownListFor(m => m.GameType, HomeController.GameList, new { })
            <input type="submit" class="btn btn-primary" value="Go!" />
        </div>
    }
</div>
@section scripts{

}